ul {
    list-style-type: none;
}

header {
    display: flex;
    background-color: #333333;
}

header > a {
    margin : 10px;
    cursor: pointer;
    color: #ffffff;
}

header > a:hover {
    color: #00ffff;
}

header > p:hover {
    color: #00ffff;
}

.main {
    display: flex;
}

.sidemenu {
    /* border :1px solid blue; */
    background-color: #333333;
    width: 10%;
    height: 500px;
}

.list {
    text-align: left;
}

.list > li > a {
    padding-left: 0px;
    cursor: pointer;
    color: #ffffff;
}

.list > li > a:hover {
    color: #00ffff;
}

.article {
    border: 1px solid blue;
    width: 90%;
}

.article > h1 {
    font-size: x-large;
}

.content {
    height: 90%;
}

.content > table {
    width: 95%;
    margin: 0 auto;
}

.blog-content tr {
    border: solid 1px;
    height: 70px;
}

.blog-content tr td {
    vertical-align: middle;
}

tr:nth-child(even) {
    background: #eeeeee;
}

.submit-button {
    background-color: #cab64a;
}

.submit-form {
    display: block;
}

.delete-button {
    background-color: #cab64a;
    vertical-align: middle;
}

.delete-button:hover {
    cursor: pointer;
}

.back {
    background-color: #00ff00;
}

.back:hover {
    cursor: pointer;
}

.detail-button {
    background-color: #ff00ff;
}

.detail-button:hover {
    cursor: pointer;
}